.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-left: 15px;
    // padding-right: 15px;
    background: #4b6577;
    padding: 10px;
// opacity: 0.8;
    &__logo-burger {
        cursor: pointer;
       
        // flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
   
    &__logo-vue {
       
        // flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    }
    
    &__image-wrapper {
        height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    }
    &__image-wrapper:hover {
        transition: 1s;
        box-shadow: 5px 5px 15px black;
        background: #ffffff;
        width: 50px;
        border-radius: 50%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__image-wrapper:active {
        transition: none;
        background: #377197;
    }
}



.sidebar-top {


    &__link {
        padding: 10px;
        // border-radius: 60%;
        border: none;
        // color: #172b42;
        font-weight: bold;
    }

    &__link:hover {
        transition: 0.5s;
    background: #41b883;
    border-radius: 60%;
    }

    &__link--color {
        color: #032238;
    }

}


.router-link-exact-active {
    color:$link-active;
    font-weight: bold;
}

@media screen and (max-width: 960px) {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        width: 100%;
    }

}