.sidebar-left {
    width:300px;
    // height: 900px;
    background: #2e9164;

    &__links-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    &__link {
        color: $link;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        // justify-content: center;
        padding-left: 40px;
        align-items: center;
    }

    &__link:hover {
        @include linkHover;
            
    }

    &__image {
        margin-right: 10px;
    }
   
}

.router-link-exact-active {
    color:$link-active;
    font-weight: bold;
    // border-top: solid red 2px;
    border-bottom: solid #b0d1c2 2px;
}





// стили для transition sidebar при клике на бургер идет анимация
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  // стили для transition sidebar при клике на бургер идет анимация  КОНЕЦ


  @media screen and (max-width: 960px) {
    .sidebar-left {
    display: none;
  }
   
  }