* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

// шрифт - ? подключить

a {
    text-decoration:none;
    // color: ;
    font-family: Roboto;
    color: #35495e;
   font-size: 20px;
}

li {
    list-style-type: none;
}